---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sabrina Schroeder" description="" home>
  <div class="relative w-full h-screen max-h-screen">
    <img
      src="/cover-image.jpeg"
      alt="Playing drums"
      class="relative w-full h-full object-cover object-top"
    />
  </div>
</Layout>
